.bio__interests {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.interest {
    flex-basis: 16%;
    border: 1px dotted crimson;
    padding: 1em;
    margin: 0.5em;
    text-align: center;
}
